@use "../../design-system/" as *;

.launcher {
    display: flex;
    align-items: center;
    gap: $size-1;
}

ul.launcher:global(.list-style-none) {
    margin-bottom: 0 !important; // !important for .ag-styles specificity
}
