@use "../../design-system/" as *;

.options {
    line-height: 1.6em;
    color: #495057;
    font-size: 0.9em;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 5px;

    table {
        display: inline-block;
        margin-bottom: 0 !important; // !important for .ag-styles specificity
    }

    tr {
        display: flex;
        flex-direction: column;
    }    
}

.noContent {
    margin-top: $size-4 !important; // !important for .ag-styles specificity
    text-align: center;
}

.content {
    overflow-y: auto;
    height: 100%;
    margin-top: $size-2 !important; // !important for .ag-styles specificity
}

.option {
    &.hidden {
        display: none;
    }

    
    .expandable {
        cursor: pointer;
        outline: none;
        
        h3 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        :global(.icon) {
            --icon-size: 1.25em;
            transition: transform 0.3s ease-out;
        }

        &.expanded {
            :global(.icon) {
                transform: rotate(90deg);
            }
        }
    }

    .children {
        border-left: 2px solid var(--bright-blue-gray);
        overflow: hidden;

        &.hidden {
            display: none;
        }
    }

    pre {
        margin-top: $size-2;
        margin-bottom: 0 !important; // !important for .ag-styles specificity
    }

    code {
        color: $primary;
        font-size: 14px;
        line-height: 1rem;
    }
}

.metaList {
    display: flex;
    flex-wrap: wrap;
    gap: $size-1 $size-3;
}

body ul.metaList {
    margin-bottom: 0 !important; // !important for .ag-styles specificity
}

.metaItem {
    display: flex;
    flex-direction: column;

    code {
        padding: 0 !important; // !important for .ag-styles specificity
        background: transparent;
        background-color: transparent !important; // !important for .ag-styles specificity
        border: none !important; // !important for .ag-styles specificity
    }
}

.metaLabel {
    font-size: var(--font-size-extra-small);
    color: var(--secondary-text-color);
}

.metaValue {
    font-size: var(--font-size-small);
    font-family: var(--monospace-font-family);
    color: var(--code-text-color);
    background-color: none;
}

.search {
    width: 100%;
    display: flex;
    justify-content: space-between;

    input {
        min-width: auto !important; // !important for .ag-styles specificity
    }
}
