@use "../../design-system/" as ds;

.codeViewer {
    display: flex;
    height: 100%;
}

.hidden {
    display: none;
}

.files {
    color: var(--secondary-text-color);

    flex: 0 0 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: ds.$size-1;

    h4 {
        margin-top: 0 !important; // !important for .ag-styles specificity
        margin-bottom: 0 !important; // !important for .ag-styles specificity
        font-size: ds.$large-font-size-small !important; // !important for .ag-styles specificity
        font-weight: ds.$font-weight-normal !important; // !important for .ag-styles specificity

        &:not(:first-child) {
            margin-top: ds.$size-5 !important; // !important for .ag-styles specificity
        }
    }
}

.file {
    --file-border-color: transparent;

    width: 100%;
    font-size: ds.$large-font-size-small;
    font-weight: ds.$font-weight-bold !important; // !important for .ag-styles specificity
    border-top: 2px solid var(--file-border-color) !important; // !important for .ag-styles specificity
    border-left: 2px solid var(--file-border-color) !important; // !important for .ag-styles specificity
    border-bottom: 2px solid var(--file-border-color) !important; // !important for .ag-styles specificity
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    
    &.isActive {
        --file-border-color: var(--bright-blue-gray);

        color: var(--text-color) !important; // !important for .ag-styles specificity
        background-color: var(--ghost-blue) !important; // !important for .ag-styles specificity
        width: 200px;
        padding-left: ds.$size-half !important; // !important for .ag-styles specificity
        padding-right: ds.$size-1 !important; // !important for .ag-styles specificity
        margin-left: calc(-1 * ds.$size-half) !important; // !important for .ag-styles specificity
    }
}

.code {
    overflow: auto;
    width: 100%;

    > div {
        height: 100%;
    }

    pre {
        height: 100%;
        border-top: none !important; // !important for .ag-styles specificity
        border-right: none !important; // !important for .ag-styles specificity
        border-bottom: none !important; // !important for .ag-styles specificity
        border-top-left-radius: 0 !important; // !important for .ag-styles specificity
        border-bottom-left-radius: 0 !important; // !important for .ag-styles specificity
        margin-bottom: 0 !important; // !important for .ag-styles specificity
    }
}