@use "../../design-system/" as *;

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'heading heading'
        'nav-list example-options';

    :global(.tabs-nav-list) {
        grid-area: nav-list;
    }
}

.heading {
    grid-area: heading;
    margin-top: -$size-1 !important; // !important for .ag-styles specificity

    a {
        opacity: 0;

        &:hover {
            opacity: 1 !important; // !important for .ag-styles specificity
        }
    }

    &:hover a {
        opacity: 0.5;
    }

    svg {
        --icon-size: 1em !important; // !important for .ag-styles specificity

        margin-left: $size-1;
        margin-top: -$size-half;
    }

    a:hover svg {
        --text-color: var(--link-color) !important; // !important for .ag-styles specificity
    }
}

.exampleOptions {
    grid-area: example-options;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    gap: $size-3;

    svg {
        --icon-size: 1em !important; // !important for .ag-styles specificity

        margin-left: $size-half;
    }

    label {
        color: var(--secondary-text-color);
    }
}

:global(.ag-styles) .exampleOptions {
    margin-bottom: $size-1 !important; // !important for .ag-styles specificity
}

.content {
    overflow: auto;
    padding: 0 !important; // !important for .ag-styles specificity
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $size-4;
    margin-top: $size-1 !important; // !important for .ag-styles specificity
}

.openInNewTab:global(.icon) {
    --icon-size: 1.25em !important; // !important for .ag-styles specificity
}
