@use "../../design-system/" as *;

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        'heading heading'
        'nav-list example-options';

    :global(.tabs-nav-list) {
        grid-area: nav-list;
    }
}

.heading {
    grid-area: heading;
    margin-top: -$size-1 !important; // !important for .ag-styles specificity
    
    a {
        color: var(--text-color) !important; // !important for .ag-styles specificity

        &:hover {
            color: var(--link-color) !important; // !important for .ag-styles specificity

            svg {
                --text-color: var(--link-color) !important; // !important for .ag-styles specificity
                visibility: visible;
            }
        }

        svg {
            width: 1em;
            height: 1em;
            top: -0.1em;
            position: relative;
            visibility: hidden;
        }
    }
}

.exampleOptions {
    grid-area: example-options;
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    gap: $size-3;

    svg {
        --icon-size: 1em !important; // !important for .ag-styles specificity

        margin-left: $size-half;
    }
}

:global(.ag-styles) .exampleOptions {
    margin-bottom: $size-1 !important; // !important for .ag-styles specificity
}

.content {
    overflow: auto;
    padding: 0 !important; // !important for .ag-styles specificity
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $size-4;
    margin-top: $size-1 !important; // !important for .ag-styles specificity
}

.openInNewTab {
    :global(.icon) {
        --icon-size: 1.25em !important; // !important for .ag-styles specificity
    }
}