@use "../../design-system/" as *;

.tabsContainer {
    container-type: inline-size;
}

.header {
    display: flex;
    flex-wrap: wrap;
}

.heading {
    width: 100%;
    margin-top: -$size-1 !important; // !important for .ag-styles specificity

    a {
        opacity: 0;

        &:hover {
            opacity: 1 !important; // !important for .ag-styles specificity
        }
    }

    &:hover a {
        opacity: 0.5;
    }

    svg {
        --icon-size: 1em !important; // !important for .ag-styles specificity

        margin-left: $size-1;
        margin-top: -$size-half;
        transition: fill $default-transition-timing;
    }

    a:hover {
        --text-color: var(--link-color) !important; // !important for .ag-styles specificity
    }
}

.codeTabButton {
    box-shadow: inset 0 -2px 0 0 var(--bright-blue-gray);

    &::before {
        box-shadow: 1px 0 0 0 var(--bright-blue-gray) !important;
    }

    &::after {
        box-shadow: -1px 0 0 0 var(--bright-blue-gray) !important;
    }
}

.exampleOptions {
    display: flex;
    gap: $size-3;
    width: 100%;

    @container (min-width: 740px) {
        order: 1;
        width: auto;
        margin-left: auto !important; // !important for .ag-styles specificity
    }

    label {
        color: var(--secondary-text-color);
    }
}

.importInfoIcon {
    margin-right: -$size-half !important; // !important for .ag-styles specificity

    &:hover svg {
        opacity: 1;
    }

    svg {
        --text-color: var(--secondary-text-color) !important; // !important for .ag-styles specificity

        opacity: 0.5;
        transition: opacity $default-transition-timing;
    }
}

:global(.ag-styles) .exampleOptions {
    margin-bottom: $size-1 !important; // !important for .ag-styles specificity
}

.content {
    overflow: auto;
    padding: 0 !important; // !important for .ag-styles specificity
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $size-1;
    margin-top: $size-1 !important; // !important for .ag-styles specificity
}
