@use '../design-system' as *;

.learningVideos {
    display: flex;
    flex-direction: column;
    gap: $size-2;
}

.video {
    display: flex;
    gap: $size-2;

    h2 {
        --font-size: var(--font-size-medium);

        margin-top: 0 !important; // !important for .ag-styles specificity

        @media screen and (min-width: $breakpoint-videos-extra-small) {
            --font-size: var(--font-size-large);
        }

        @media screen and (min-width: $breakpoint-videos-medium) {
            --font-size: var(--font-size-extra-large);
        }
    }

    img {
        height: 60px;
        width: auto;
        border-radius: var(--border-radius);

        @media screen and (min-width: $breakpoint-videos-extra-small) {
            height: 100px;
            --font-size: var(--font-size-large);
        }
    }

    .body {
        flex-grow: 1;
        min-width: 50%;
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: disc !important; // !important for .ag-styles specificity
        gap: 0 $size-1;

        @media screen and (min-width: $breakpoint-videos-medium) {
            flex-wrap: wrap;
            flex-direction: row;
        }

        li {
            color: var(--text-color);

            margin-left: $size-2;

            @media screen and (min-width: $breakpoint-videos-medium) {
                width: 40%;
            }

            @media screen and (min-width: $breakpoint-videos-large) {
                width: 33%;
            }
        }
    }
}
