@use '../design-system' as *;

.matrix-table {
    &--pad3 {
        composes: ml-3 from global;
    }

    &--pad4 {
        composes: ml-5 from global;
    }

    &__title {
        font-size: 1.5rem;
    }

    &__true {
        color: $success;
    }

    &__false {
        color: $danger;
    }
}

.outer {
    container-type: inline-size;
}

.matrix {
    table-layout: auto !important;

    th {
        white-space: nowrap;
    }

    @container (max-width: 640px) {
        @include stack-table();

        // Fixing .ag-styles specificity issues
        tr,
        td {
            background-color: transparent !important;
        }

        // Fixing .ag-styles specificity issues
        td {
            padding: 0 !important;
            border: none !important;
        }

        div {
            display: inline;
        }
    }
}
