@use "sass:map";
@use '../../design-system/' as *;

.alert {
    --alert-background-color: var(--bright-blue-gray);
    --icon-size: 3em;

    display: flex;
    gap: $size-2;
    padding: $size-3;
    background-color: var(--alert-background-color);
    border-radius: var(--border-radius);

    :global(.icon) {
        flex-shrink: 0;
        margin-top: 0.17em;
    }
}

.alert.info :global(.icon) {
    --text-color: var(--medium-electric-blue);
}

.alert.idea :global(.icon) {
    --text-color: hsl(33, 100%, 65%);
}

.alert.warning {
    --alert-background-color: #{mix(map.get($abstract-colors, 'ag-grid-orange'), white, 15%)};

    :global(.icon) {
        --text-color: var(--ag-grid-orange);
    }
}
