@use '../core' as *;

.ag-card {
    --card-color: var(--border-color);
    --header-tint: 0.775;
    --content-tint: 0.95;

    display: flex;
    flex-direction: column;
    border-radius: calc(var(--border-radius) * 2);
    border: 3px solid var(--card-color);
    background-color: var(--card-color);
    overflow: hidden;

    header,
    .header,
    .top {
        padding: $size-1 $size-2;
        background-color: rgba(255, 255, 255, var(--header-tint));
    }

    .content,
    .bottom {
        flex-grow: 1;
        padding: $size-2;
        background-color: rgba(255, 255, 255, var(--content-tint));
    }

    &.single-application {
        --card-color: #0f5bce !important; // !important for .ag-styles specificity
        --header-tint: 0.9 !important; // !important for .ag-styles specificity
        --content-tint: 0.96 !important; // !important for .ag-styles specificity
    }

    &.multiple-application {
        --card-color: #2aaa33 !important; // !important for .ag-styles specificity
        --header-tint: 0.91 !important; // !important for .ag-styles specificity
        --content-tint: 0.97 !important; // !important for .ag-styles specificity
    }
}

.tabs-outer {
    header,
    .tabs-header {
        width: 100%;
        padding-top: $size-1;
        padding-right: $size-2;
        padding-left: $size-2;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        background-color: var(--bright-blue-gray);
    }

    .tabs-nav-list {
        display: flex;
        margin: 0 !important; // !important for .ag-styles specificity
        padding-left: 0;
        list-style-type: none;
        border-bottom: none;
    }

    .tabs-nav-item {
        position: relative;
        margin-bottom: 1px !important; // !important for .ag-styles specificity
        margin-right: -2px;
    }

    .tabs-nav-link {
        display: inline-block;
        margin-bottom: -1px;
        padding: ($size-1 + $size-half) $size-2;
        line-height: var(--line-height-tight);
        border: 2px solid var(--bright-blue-gray);
        border-bottom: none;
        background-color: white;
        border-top-left-radius: calc(var(--border-radius) * 1.5);
        border-top-right-radius: calc(var(--border-radius) * 1.5);
        color: var(--link-color);
        transition: color $default-transition-timing;
        cursor: pointer;

        &:hover {
            color: var(--link-hover-color);
        }

        &:focus-visible {
            position: relative;
            border-color: var(--link-color);
            outline: none;
            box-shadow: inset 0 -2px var(--border-color);
            z-index: 2;
        }
    }

    .tabs-nav-link.active {
        position: relative;
        border: 2px solid var(--border-color);
        border-bottom: none;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        color: var(--text-color);
        z-index: 1;
        pointer-events: none;
        transition: none;

        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: var(--border-radius);
            height: var(--border-radius);
            border-bottom: 2px solid var(--border-color);
        }

        &::before {
            left: calc(var(--border-radius) * -1);
            border-right: 2px solid var(--border-color);
            border-bottom-right-radius: var(--border-radius);
            box-shadow: 2px 2px 0 0 white;
        }

        &::after {
            right: calc(var(--border-radius) * -1);
            border-left: 2px solid var(--border-color);
            border-bottom-left-radius: var(--border-radius);
            box-shadow: -2px 2px 0 0 white;
        }
    }

    .tabs-content {
        position: relative;
        margin-top: -2px !important; // !important for .ag-styles specificity
        border-radius: var(--border-radius);
        border: 2px solid var(--border-color);
        padding: $size-2;
    }
}
